.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border: 1px solid transparent;
  border-radius: var(--radius-sm);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-small);
  white-space: nowrap;
}

/* size */
.sm {
  min-height: 1.5rem;
  padding: 0 0.5rem;
  font-size: var(--font-size-small);
}

.md {
  min-height: 1.75rem;
  padding: 0 0.625rem;
  font-size: var(--font-size-small);
}

.lg {
  min-height: 2rem;
  padding: 0 0.75rem;
  font-size: var(--font-size-body);
}

/* variant */
.primary {
  color: #1D4ED8;
  background-color: #DBEAFE;
}

.success {
  color: #065F46;
  background-color: #D1FAE5;
}

.danger {
  color: #B91C1C;
  background-color: #FEE2E2;
}

.warning {
  color: #92400E;
  background-color: #FEF3C7;
}

.secondary {
  color: #5B21B6;
  background-color: #EDE9FE;
}

.pink {
  color: #9D174D;
  background-color: #FCE7F3;
}

.teal {
  color: #0F766E;
  background-color: #CCFBF1;
}

.orange {
  color: #C2410C;
  background-color: #FED7AA;
}

.indigo {
  color: #3730A3;
  background-color: #E0E7FF;
}

.greenLight {
  color: #166534;
  background-color: #F0FDF4;
}

.gray {
  color: var(--sub-text-color);
  background-color: #f3f4f6;
}

.outline {
  color: var(--primary-color);
  background-color: transparent;
  border-color: var(--primary-color);
}