.container {
  width: 100%;
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding: var(--layout-padding-pc);
}

@media (max-width: 1200px) {
  .container {
    padding: var(--layout-padding-tablet);
  }
}

@media (max-width: 480px) {
  .container {
    padding: var(--layout-padding-mobile);
  }
}