.card {
  --card-border-width: 0px;

  width: 100%;
  min-width: 0;
  padding: var(--layout-padding-pc);
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--text-color);
  box-sizing: border-box;

    transition:
    transform 0.2s ease,
    border-color 0.2s ease,
    box-shadow 0.2s ease,
    background-color 0.2s ease;
}

/* hover */
.card:hover {
  border-color: var(--secondary-color);
  background-color: rgba(255, 255, 255, 0.04);
  transform: translateY(-0.075rem);
  box-shadow: 0 0.5rem 1rem rgba(99, 103, 255, 0.15);
}

/* radius size */
.radiusSm {
  border-radius: var(--radius-sm);
}

.radiusMd {
  border-radius: var(--radius-md);
}

.radiusLg {
  border-radius: var(--radius-lg);
}

.radiusFull {
  border-radius: var(--radius-max);
}

/* variant */
.default {
  border-color: var(--border-color);
  background-color: var(--background-color);
}

.primary {
  border-color: var(--primary-color);
  background-color: var(--background-color);
}

.subtle {
  border-color: transparent;
  background-color: #f8f8ff;
}

/* responsive */
@media (max-width: 1024px) {
  .card {
    padding: var(--layout-padding-tablet);
  }
}

@media (max-width: 768px) {
  .card {
    padding: var(--layout-padding-tablet);
  }
}

@media (max-width: 480px) {
  .card {
    padding: var(--layout-padding-mobile);
  }
}