.card {
  --card-border-width: 0px;

  width: 100%;
  min-width: 0;
  padding: var(--layout-padding-pc);
  border: 1px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--text-color);
  box-sizing: border-box;
}

/* radius size */
.radiusSm {
  border-radius: var(--radius-sm);
}

.radiusMd {
  border-radius: var(--radius-md);
}

.radiusLg {
  border-radius: var(--radius-lg);
}

.radiusFull {
  border-radius: var(--radius-max);
}

/* variant */
.default {
  border-color: var(--border-color);
  background-color: var(--background-color);
}

.primary {
  border-color: var(--primary-color);
  background-color: var(--background-color);
}

.subtle {
  border-color: transparent;
  background-color: #f8f8ff;
}

/* responsive */
@media (max-width: 1024px) {
  .card {
    padding: var(--layout-padding-tablet);
  }
}

@media (max-width: 768px) {
  .card {
    padding: var(--layout-padding-tablet);
  }
}

@media (max-width: 480px) {
  .card {
    padding: var(--layout-padding-mobile);
  }
}