.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}

.textBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  margin: 0;
  color: var(--text-color);
  font-size: var(--font-size-title-lg);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-title);
  margin-bottom: 1rem;
}

.action {
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .pageHeader {
    flex-direction: column;
  }
}