.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.content {
  flex: auto;
  text-align: left;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
}

.meta {
  display: flex;
  gap: 0.75rem;
  font-size: 0.75rem;
  color: #888;
}